.app {
  display: flex;
  height: 100vh;
  background-color: #020230;
  color: goldenrod;
}
.image {
  width: 75%;
  background: url("./assets/bg.jpg");
}

.moneySection {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moneyList {
  list-style: none;
  width: 100%;
}

.moneyListItem {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}

.moneyListItem.active{
    /* border:10px solid goldenrod; */
    color: white;
    font-weight: 700 !important; 
}

.moneyListItemNumber {
    font-size: 18px;
    font-weight: 100;
    width: 30%;
}


.moneyListItemAmount {
    font-size: 20px;
    /* font-weight: 300; */
}
